/* GENEL */
body{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

/* NAVBAR */
.navbar{
  background-color: black;
  height: 60px;
  position: sticky;
  top: 0;
}

.navbar-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 100%;
}
.profile-container {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
* {
    margin: 0;
    box-sizing: border-box;
}

.logo{
  color: brown;
  font-size: 30px;
}

/* MENU */
.menu-list{
  display: flex;
  list-style: none;
  gap: 30px;
}

.menu-list-item a{
  color: aliceblue;
  text-decoration: none;
}

.menu-list-item.active a{
  color: brown;
  font-weight: bold;
}

/* SIDEBAR */
.sidebar{
  width: 50px;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.sidebar i{
  font-size: 20px;
  cursor: pointer;
}

/* CONTENT */
.container{
  margin-left: 50px;
}

.content-wrapper{
  padding: 40px 80px;
}

/* DİZİ LİSTESİ */
.movie-vertical-list{
  padding: 0 80px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.movie-row{
  display: flex;
  gap: 25px;
  background-color: rgba(20,20,20,0.9);
  padding: 20px;
  border-radius: 10px;
}

.movie-row img{
  width: 160px;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-info h2{
  margin-bottom: 6px;
}

.imdb{
  color: goldenrod;
  font-weight: bold;
  margin-bottom: 8px;
}

.description{
  color: #ccc;
  margin-bottom: 12px;
  max-width: 600px;
}

.movie-info iframe{
  width: 320px;
  height: 180px;
  border-radius: 8px;
}

.profile-picture{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}
/* NAVBAR LINK RENKLERİ */
.menu-list-item a{
  color: aliceblue;
  text-decoration: none;
}

.menu-list-item a:visited{
  color: aliceblue;
}

.menu-list-item a:hover{
  color: brown;
}
